{% extends 'examples/dashboard.html' %}
{% block page_content %}
<div class="row">
        <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
            <h5 class="card-title">Mis publicaciones</h5>
            <p class="card-category">
                <table border="1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tema  </th>
                            <th>Acciones</th>
                            
            
                        </tr>
                    </thead>
                    <tbody>
                        {% for publicacion_user in object_list %}
                        <tr>
                            <td> {{ publicacion_user.etiqueta_tema}}  </td>
                            <td><a href="{% url 'usuario:Ver_publicacion' publicacion_user.pk  %}" class="btn btn-outline-info">Ver</a></td>
                            <td><a href="{% url 'usuario:Editar_publicacion' publicacion_user.pk  %}" class="btn btn-outline-success">Editar</a></td>
                            <td><a href="{% url 'usuario:Eliminar_publicacion' publicacion_user.pk  %}" class="btn btn-outline-danger">Eliminar</a></td>
                        </tr> 
                    {% endfor %}
                    </tbody>
                </table>
                
            
            </p>
            
            </div>
            <div class="card-body ">
            <canvas id=chartHours width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
        </div>
        </div>
</div>

{% endblock page_content %}
